{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friendship Bridge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}">
</head>
<body>
    <h1>Friendship Bridge</h1>
    <nav>
        <ul>
            <li><a href="/members">Members</a></li>
            <br>
            <li><a href="/core_members">Core Members</a></li>
            <br>
            <li><a href="/outer_core_members">Outer Core Members</a></li>
            <br>
            <li><a href="/event_members">Event Members</a></li>
            <br>
            <li><a href="/">Home</a></li>
        </ul>
    {% block content %}
    {% endblock %}

</body>
</html>