{% extends 'members/base.html' %}

{% block content %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<head>
    <title>Friendship Bridge</title>
</head>

<h2>Core Members</h2>
<!-- <button a href="core_members/" id="core-email">Get Email</button> -->
<button type="button" id="emailButton">Email</button>


<ul>
    {% for member in members %}
        <li>
            <a href="{% url 'member_detail' pk=member.pk %}">{{ member.last_name }} , {{ member.first_name }}</a>
            <!-- <a href="{% url 'member_delete' pk=member.pk %}" class="delete">x</a> -->
        </li>
    {% endfor%}
</ul>



<script type='text/javascript'>
    $("#emailButton").click(function(){
    $(".hidden").toggle();
    });

</script>


<textarea class='hidden'>
{% for member in members %}
    {{ member.email }}
{% endfor%}
</textarea>
        

<script>
$("button").click(function(){
    $("textarea").select();
    document.execCommand('copy');
});

</script>

{% endblock %}
